* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* oude ontwerp:
body   background-color:  #B5D2DD ;  /* 181 210 221 rgb
#70afe2
#3a74b3
#0e538e

logo kleuren:;
#95d1f9  lichtstblauw   rgba(149, 209, 249, .5)
#56a3d8  middelblauw    rgba(86, 163, 216, .25)
#176299  donkerblauw    rgba(23, 98, 153, .25)

background-color: rgba(53, 110, 165, .25);  /*kleur lucht #356EA5 */

body, html {
  margin: 0;
  padding: 0 7px;
  width: 100%;
  height: 100%;

}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  background-color: rgba(86, 163, 216, .25);
  color: #424242;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2em;
}

h3 {
  font-size: 18px;
}
/*
header, nav, footer, div {
  box-sizing: border-box;
}
*/


img, embed, object, video {
	max-width: 100%;
}

button  {
	min-width: 48px;
	min-height: 40x;
	border-radius: 15px;
	background-color: #56a3d8;
	padding: 1.5em;
  font-weight: 700;
  color: #fff;
}

/*
table {
  width: 100%;

}  */

td, th {
  text-align: left;
  vertical-align: top;
  padding-right: 10px;
}
 /*td:first-of-type {
  padding-left: 20px;
 }
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left:  1em;
  text-indent: -.9em;  /*  -.7em;  */
}

li:before {
  content: "•";  /*  content: "•";   \002022 */
  padding-right: 5px;
  color: #56a3d8; /* or whatever color you prefer */
}

.bolletjeLB{
  /*  content: "• ";  */
  color: #95d1f9;
}

.bolletjeMB{
  /*  content: "• ";  */
  color: #56a3d8;
}

.bolletjeDB{
  /*  content: "• ";  */
  color: #176299;
}


footer  {
	font-size: 12px;
}

.reis__kop, .reis1, .reis2, .voorWie, .ervaringen {
	padding: 0 5px 0 0px;
}

h2.reis__kop {
  padding-left: 20px;
  margin-top: 0px;
}

.tintvlak {
  background-color: #edf3fc;
}

.tintvlakLB  {
  background-color: rgba(149, 209, 249, .25);
}

.tintvlakMB  {
  background-color: rgba(86, 163, 216, .25);
}
.tintvlakDB  {
  background-color: rgba(23, 98, 153, .25);
}

.tintvlakWit50  {
  background-color: rgba(255, 255, 255, .5);
}

.tintvlakWit25  {
  background-color: rgba(255, 255, 255, .25);
}

.bold {
  font-weight: 700;
}

.kleiner {
  font-size: 14px;
}

.cursief {
  font-weight: 900;
}


/*
 *
 * Header
 *
 */

.header {
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
  min-height: 56px;
  transition: min-height 0.3s;

}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 150px;
  margin-bottom: 1em;
  vertical-align: top;
  margin-top: 12px;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #56a3d8;
  border-radius: 10px;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__list li.vr {
   /* doesnt work well on smaller screens
  border-right: 1px solid #fffff0;
  border-radius: 5px;*/
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 19%;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  padding: 15px;
  text-transform: uppercase;
  white-space: nowrap;
}


#active a{
  color: #fff;
  font-weight: 900;
  font-size: 12px;

}


.nav a {
  text-decoration: none;
  color: #000;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #fff;
}

/*
 *
 * Main
 *
 */

main {
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.vlakLinks {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 5px;
  box-shadow: -2px 2px 5px 2px #bed6f7;  /*88a9de  */
}

.vlakRechts {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: -5px  5px 5px 5px #bed6f7;
}

.reis__hoofdkop p {
  max-width: 700px;
  font-weight: 700;
}

.pointer img {
  float: left;
  width: 50px;
  height: 50px;
}

.pointer h2 {
  position: relative;
  left: 10px;
}

.voorWie, .ervaringen, .reis1, .reis2 {
  margin-top: 0px;
}

.voorWie h2{
  color: #56a3d8;
}

.ervaringen h2 {
  color: #176299;
}

.verder img{
   width: 100px;
}

.verder p {
  font-size: 12px;
  text-align: left;
}

/* modal */

.modalDialog {
  position: fixed;
  font-family: 'Lato', sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #95d1f9);
  background: -webkit-linear-gradient(#fff, #95d1f9);
  background: -o-linear-gradient(#fff, #95d1f9);
}

.close {
  background: #56a3d8;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* eind modal */
/*
*
* Reisbeschrijvingen
*
*/

.groepVlak {

  padding: 10px;
  margin-bottom: 15px;
  margin-right: 0px;
  box-shadow: -2px 2px 5px 2px #bed6f7;
}

.vlak1Tabel {
  /*background-color: #fff; */
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: -2px 2px 5px 2px #bed6f7;  /*88a9de  */
}

/*
.vlak2Tabel {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
  box-shadow: -5px  5px 5px 5px #bed6f7;
}
*/

.geenTabel {
  padding-bottom: 5px;
}

.lijnOnder {

  border-bottom: 1px solid #95d1f9;

}

 .hele__tabel {
      width: 100%;
      padding-bottom: 15px;
      overflow-x: auto;
      white-space: nowrap;
    }

    .tabel {
      margin-bottom: 10px;
    }

.tabel td  {
  padding-right: 10px;
}

.tabel td.nowrap {
  white-space: nowrap;
  padding-right: 10px;
}

td:last-of-type {
  padding-right: 0px;
}



.details ul {
  list-style-type: none;

  padding: 0px;
  margin: 0px;
}

.details li {
  /*background-image: url(../images/kristal_opsomming.png);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 25px;*/

  list-style-position: inside;
  white-space: wrap;

}

.opsomming img{
  padding-top: 2px;
}

/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  margin-top: 40px;
  background-color: #95d1f9;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

footer a:hover {
  text-decoration: underline;
}