.inhoud {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

   .geenTabel td:last-of-type {
      padding-right: 0px;
      padding-left: 0px;
    }



@media screen and (max-width: 400px) {

   .geenTabel td {
      display: block;
      padding-right: 10px;
    /*  white-space: nowrap; */
    }

    .geenTabel td:last-of-type {
      padding-right: 5px;
      padding-left: 18px;
    }



}

@media screen and (max-width: 600px) {

  body {

   }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .header__logo {
    width: 200px;
    margin-top: 5%;
   /* margin-right: 0.5em; */
  }

  .nav {
    z-index: 10;
    background-color: #4794df;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-320px, 0);
    transform: translate(-320px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #707070;
  }

  .beschrijving1 {
      margin-bottom: 15px;
  }

  .beeld1, .beeld2 {
    display: none;
  }

  .vlakLinks, .vlakRechts {
    margin-bottom: 0px;

  }


    .ietsLager {
      margin-top: 20px;
    }

    .lager {
      margin-top: 30px;
    }

    .ietsHoger {
      margin-bottom: 20px;
    }

    .hoger {
      margin-bottom: 40px;
    }

/*reisbeschrijvingen*/

   .vlak1Tabel {
    box-shadow: none;
   }

     .groep1 {
       display: flex;
      flex-wrap: wrap;
      width: 100%;
     }

     .accomodatie {
      width: 100%;
      order: 0;
     }

     .tweeInEen {
      width: 100%;
      order: 1;
     }

     .ligging {
      width: 100%
      order: 0;
     }

     .verzorging {
      width: 100%;
      order: 1;
     }




    .groep4 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .arrangement{
      margin-right: 0px;
      order: 0;
    }

    .inclusief {
      margin-right: 0px;
      width: 100%;
      order: 1;
    }

    .arrangement .geenTabel td {
      display: block;
      padding-right: 10px;
    /*  white-space: nowrap; */
    }



    /* ski */

    .groep5 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .skihuur {
      margin-right: 0px;
      width: 100%
      order: 0;
    }

    .skipassen {
      margin-right: 0px;
      width: 100%;
      order: 1;
    }




/*groep6*/

   .groep6 {
    width: 100%
   }

     .toeslag {
      margin-right: 0px;
      width: 100%;
      order: 0;
    }

   .reductie{
      margin-right: 10px;
      width: 100%;
      order: 1;
    }

    .extrakosten {
      margin-right: 0px;
      width: 100%;
      order: 2;
    }

    .lijnOnder .extrakosten {
      border-style: none;
    }



}


@media screen and (min-width: 601px) and (max-width: 700px) {

   body {



  }

      .reis__hoofdkop {
        order: -1;
        width: 100%;
    }

        .reis1 {
        display: flex;
        flex-wrap: wrap;
        order: 0;
        width: 80%;

    }

    .reis2 {
        display: flex;
        flex-wrap: wrap;
        order: 1;
        width: 100%;
    }

    .reis2 .vlakLinks {
      margin-left: 45px;
    }

    .reis__tekst {
      padding-right: 10px;
    }

    .beeld1, beeld2  {
      display: none;
    }

     .voorWie {
        order: 2;
        width: 100%;
    }

    .ervaringen {
        order: 3;
        width: 90%
    }

    .ervaringen .vlakRechts {
      margin-left: 100px;
    }


    /*reisbeschrijvingen*/


   .vlak1Tabel {
    box-shadow: none;
   }

      .groep1 {
         display: flex;
      flex-wrap: wrap;
      width: 100%;
     }

     .accomodatie {
      width: 100%;
      order: 0;

     }

     .tweeInEen {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      order: 1;
     }

     .ligging {
      width: 40%
      order: 0;
     }

     .verzorging {
      width: 45%;
      order: 1;
     }

      .groep2 {
      width: 80%;
     }

     .groep3 {
      width: 80%;
      margin-left: 60px;
     }



     .groep4 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .arrangement{
      margin-right: 10px;
      order: 0;
    }

    .inclusief {
      margin-right: 0px;
      width: 70%;
      order: 1;
    }

    /* ski */

    .groep5 {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 40px;
    }

    .skihuur {

      width: 80%
      order: 0;
    }

    .skipassen {
      margin-right: 0px;
      width: 90%;
      order: 1;
    }


      .groep6 {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }


    .toeslag {
      margin-right: 0px;
      width: 80%;
      order: 0;
    }



    .reductie{
      margin-right: 10px;
      width: 40%;
      order: 0;
    }



    .extrakosten {
      margin-right: 0px;
      width: 48%;
      order: 2;
    }

    .reductie .geenTabel td {
      display: block;
      padding-right: 10px;
    /*  white-space: nowrap; */
    }

    .reductie .lijnOnder {
      border-bottom-style: hidden;
    }


    .extrakosten .geenTabel td {
       display: block;
      padding-right: 0px;
    /*  white-space: nowrap; */
    }










}

@media screen and (min-width: 701px)  {

   body {

  }

    .reis__hoofdkop {
        order: -1;
        width: 100%;
    }

    .reis1 {
        display: flex;
        flex-wrap: wrap;
        order: 0;
        width: 45%;
    }


    .reis2 {
        display: flex;
        flex-wrap: wrap;
        order: 2;
        width: 55%;
    }

    .voorWie {
        order: 1;
        width: 55%;

        margin-left: 0px;
    }

    .ervaringen {
        order: 3;
        width: 40%;
        ;
        margin-right: 0px;
    }

    .reis2 .vlakLinks  {
      margin-left: 35px;
    }

    .beschrijving1 {
        margin-bottom: 15px;
        width: 100%;
    }


    .beschrijving2 {
        width: 100%;
    }

    /*
    *
    * Reisbeschrijvingen
    *
    */

   .vlak1Tabel {
    box-shadow: none;
   }


    .skigebied {
      order: 0;
      max-width: 700px;
    }

    .groep1 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

     .accomodatie {
      margin-right: 10px;
      width: 45%;
      order: 0;
    }

     .tweeInEen {
      display: flex;
      flex-wrap: wrap;

      width: 50%;
      order: 1;
     }

     .ligging {
      margin-right: 10px;
      width: 100%;
      order: 1;
    }

     .verzorging {
      margin-right: 10px;
      width: 100%;
      order: 2;
    }



    .groep2 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .faciliteiten {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 0;
    }

    .kamers {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 1;
    }

    .kamerindeling {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 2;
    }


    .groep3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .transfer {
      margin-right: 10px;
      width: calc((100% - 20px) / 2);
      order: 0;
    }

    .letop {
      padding-left: 30px;
      margin-right: 10px;
      width: calc((100% - 20px) / 2);
      order: 1;
    }


    .groep4 {
      width: 90%;
      margin-left: 50px;
      max-width: 750px;
      display: flex;
      flex-wrap: wrap;
    }

    .arrangement{
      width: 100%
      margin-right: 0px;
      order: 0;
    }

    .inclusief {
      margin-right: 0px;
      width: 70%;
      order: 1;
    }

    /* ski */

    .groep5 {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
    }

    .skihuur {
      margin-right: 0px;
      width: 100%
      order: 0;
    }

    .skipassen {
      margin-right: 0px;
      width: 90%;
      order: 1;
    }


    .groep6 {
      width: 70%;
      margin-left: 100px;
      display: flex;
      flex-wrap: wrap;
    }

     .toeslag {
      margin-right: 0px;
      width: 90%;
      order: 0;
    }

    .reductie{
      margin-right: 10px;
      width: 30%
      order: 1;
    }

    .extrakosten {
      margin-right: 0px;
      width: 100%;
      order: 2;
    }

}





@media screen and (min-width: 901px)  {

  body {


  }


  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }


  /*  main, .header__inner, .nav, .inhoud {
      width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
*/
	.reis__hoofdkop {
		order:-1;
		width: 100%;
	}


	.reis1 {
		order: 0;
		width: 43%;
    margin-right: 10px;

	}

   .voorWie {
        order: 1;
        width: 54%;
        /*margin-left: 35px;*/
        margin-right: 0px;
    }

    .reis2 {
    	order: 2;
      margin-left: 10px;
    	width: 49%;
    }



    .ervaringen {
        order: 3;
        width: 34%;
        margin-left: 10px;
        margin-right: 5px;
    }

    .ietsLager {
      margin-top: 20px;
    }

    .lager {
      margin-top: 40px;
    }

    .ietsHoger {
      margin-bottom: 20px;
    }

    .hoger {
      margin-bottom: 40px;
    }


     /*
    *
    * Reisbeschrijvingen
    *
    */


   .vlak1Tabel {
    box-shadow: none;
   }

    .groep1 {
      margin-left: 30px;
    }

    .groep2 {
      width: 100%;
      margin-left: 0px;
      display: flex;
      flex-wrap: wrap;
    }

    .faciliteiten {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 0;
    }

    .kamers {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 1;
    }

    .kamerindeling {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 2;
    }


    .groep3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .transfer {
      margin-right: 10px;
      width: calc((100% - 20px) / 2);
      order: 0;
    }

    .letop {

      margin-right: 10px;
      width: calc((100% - 20px) / 2);
      order: 1;
    }


    .groep4 {
      width: 80%;
      margin-left: 120px;
      display: flex;
      flex-wrap: wrap;
    }

    .arrangement{
      width: 100%;
      margin-right: 10px;
      order: 0;
    }

    .inclusief {
      margin-right: 0px;
      width: 70%;
      order: 1;
    }



     /* ski */

     .groep5 {
      margin-left: 40px;
     }


    .groep6 {
      width: 70%;
      margin-left: 0px;
      display: flex;
      flex-wrap: wrap;
    }


    .toeslag {
      margin-right: 5px;
      width: 60%;
      order: 0;
    }

    .reductie{
      margin-right: 0px;
      width: 38%
      order: 1;
    }

    .extrakosten {
      margin-right: 0px;
      width: 70%;
      order: 2;
    }




}

@media screen and (min-width: 1201px)  {

  body {
    background-size: 1400px;


  }

/*
    main, .header__inner, .nav, .inhoud {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
*/

  /*
    *
    * Reisbeschrijvingen
    *
    */


   .vlak1Tabel {
    box-shadow: none;
   }


    .skigebied {
      width: 45%;
      margin-right: 20px;
    }


   .groep1 {
      width: 40%;
      margin-left: 50px;

      display: flex;
      flex-wrap: wrap;
    }

     .accomodatie {
      margin-right: 10px;
      width: 100%;
      order: 0;
    }

     .tweeInEen {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      order: 1;
     }

     .ligging {
      margin-right: 10px;
      width: 45%;
      order: 0;
    }

     .verzorging {
      margin-right: 0px;
      width: 40%;
      order: 1;
    }



    .groep2 {
      width: 70%;
      margin-left: 250px;

      display: flex;
      flex-wrap: wrap;
    }

    .faciliteiten {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 0;
    }

    .kamers {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 1;
    }

    .kamerindeling {
      margin-right: 10px;
      width: calc((100% - 30px) / 3);
      order: 2;
    }


    .groep3 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .transfer {
      margin-right: 10px;
      width: 40%;
      order: 0;
    }

    .letop {
      padding-left: 30px;
      margin-right: 10px;
      width: 50%;
      order: 1;
    }


    .groep4 {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 100px;
    }

    .arrangement{
      width: 100%;
      margin-right: 10px;
      order: 0;
    }

    .inclusief {
      margin-right: 0px;
      width: 80%;
      order: 1;
    }



     /* ski */

    .groep5 {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .skihuur {
      margin-right: 20px;
      width: 45%
      order: 0;
    }

    .skipassen {
      margin-right: 0px;
      width: 40%;
      order: 1;
    }



    .groep6 {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
    }


    .toeslag {
      margin-right: 0px;
      width: 35%;
      order: 0;
    }

    .reductie{
      margin-right: 10px;
      width: 20%
      order: 1;
    }

    .extrakosten {
      margin-right: 0px;
      width: 40%;
      order: 2;
    }

    .groep7 {
      max-width: 800px;
      margin-left: 150px;
    }


}

